* {
  margin: 0;
  padding: 0;
}

.layout {
  text-align: center;
  background-image: url("https://fthmb.tqn.com/kVpo4zFn-IRel7_g-hB3vXseD0A=/puresaltinteriors.-cb503015f1954be8ab6f750cda87a326.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 18px;
  color: darkslateblue;
  min-height: 80vh;
}

/* .layout { */
/* display: grid;
  padding-top: 0;
  grid-row-gap: 2em; */
/* } */

#main-image {
  margin-top: 0.5em;
  padding-top: 0;
  padding-bottom: 0;
}

#main-page-headers {
  padding: 0;
  margin: 0;
}

.button {
  background-color: darkslateblue;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  transition-duration: 0.4s;
  margin-top: 0.5em;
  cursor: pointer;
  width: 200px;
  height: 34px;
}

.button:hover {
  background-color: rgba(9, 5, 46, 0.701);
  color: white;
}

#name-field {
  margin-bottom: 1em;
  margin-top: -4em;
}

.input {
  margin: 10px;
  color: #555;
  padding: 6px 12px;
  font-size: 14px;
  width: 200px;
  height: 34px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgb(100 100 100 / 10%);
}

.header {
  display: block;
  background-color: rgba(9, 5, 46, 0.701);
  /* top: 0px; */
  height: 50px;
  /* position: sticky; */
  width: 100%;
  text-align: left;
  color: white;
  padding: 10px 10px;
  font-size: 28px;
}

.footer {
  color: white;
  background-color: rgba(9, 5, 46, 0.801);
  text-align: center;
  width: 100%;
  height: 50px;
  padding: 27px;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.button.previous {
  position: absolute;
  bottom: 100px;
  left: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

h1.header_text {
  margin-top: 0px;
  padding-top: 0px;
}

.parent-listing-container {
  background-color: white;
  border: 5px solid darkslateblue;
  width: 80%;
}

.listing-container {
  background-color: white;
  width: 60%;
  border: 5px solid darkslateblue;
  padding: 10px;
  margin: 20px auto;
  text-align: center;
  /* align-items: center; */
}

.textbox {
  height: 100px;
}

text-[type="text"]::placeholder {
  padding-top: -10px;
  text-align: top;
}

.form-element {
  width: 155px;
}

.form-container {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  align-items: center;
}

.home-page-container {
  position: relative;
  text-align: center;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.home-page-header {
  height: 50px;
}
