<h2>Please enter the details of your space below: </h2>

<div>
  <form action="/listings/create" method="post">
    <p><input type="text" name="address" placeholder="Location"></p>
    <p><input type="text" name="name" placeholder="Name"></p>
    <p><input type="text" name="description" placeholder="Description"></p>
    <p><input type="price" name="price" placeholder="price"></p>
    <p><input type="submit" value="Submit"></p>
  </form>
</div>