<h2>Please enter the details of your space below: </h2>

<div>
  <form action="/listings/create" method="post">
    <p><label>Location</label></p>
    <input type="text" name="address">
    <p><label>Name</label></p>
      <input type="text" name="name">
    <p><label>Description</label></p>
      <input type="text" name="description">
    <p><label>Price per night(£)</label></p>
      <i>£</i><input type="price" name="price">
    <p><label>Available from(DD/MM/YY)</label></p>
      <input type="date" name="start_date">
    <p><label>Available to(DD/MM/YY)</label></p>
      <input type="date" name="end_date">
    <p><input type="submit" value="List my space"></p>
  </form>
</div>