<h2>Please enter the details of your space below: </h2>

<div>
  <title>Listings Form</title>
  <link rel="stylesheet" href="../../stylesheets/application.css">
    <div>
    <form action="/listings/create" method="post">
      <div class="form-container">
        <div><input class="form-element" type="text" name="address" placeholder="Location"></div>
        <div><input class="form-element" type="text" name="name" placeholder="Name"></div>
        <div><textarea class="form-element textbox" type="text" name="description" placeholder="Description"></textarea></div>
        <div><input class="form-element" type="price" name="price" placeholder="price"></div>
        <div><input class="form-element button" type="submit" value="Submit"></div>
      </div>
    </form>
  </div>
</div>