<title>Booking form</title>

<h1>Please enter your details below</h1>

<form action="/booking_confirmation" method="get">
    <input type="text" name="name" placeholder="Enter your name"/><br>
    <input type="text" name="email" placeholder="Enter your email"/><br>
    <input type="text" name="start_date" placeholder="Enter your start date"/><br>
    <input type="text" name="nights" placeholder="Enter the number of nights"/><br>
    <input type="submit" value="Submit"/>
 </form>