<h2>Feel at home, anywhere</h2>

<div>
  <form action="/users/new" method="get">
    <input type="submit" value="Sign up">
  </form>
</div>

<div>
  <form action="/listings" method="get">
    <input type="submit" value="Browse">
  </form>
</div>

<div>
  <form action="/listings/new" method="get">
    <input type="submit" value="List a space">
  </form>
</div>