<title>Booking form</title>

<h3>Sign up to MakersBnB </h3>
  <h2 class="center home-page-header">Feel at home, anywhere</h2><br>
    <h3 class="top-border">Sign up to MakersBnB </h3><br>

  <form action="/users" method="post">
      <div><input type="email" name="email" placeholder="Email"/></div><br>
      <div><input type="password" name="password" placeholder="Password"/></div><br>
      <div><input class="button" type="submit" value="Sign up"></div><br>
    </div>
  </form>


