<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Makers BnB </title>
    <link rel="stylesheet" href="./stylesheets/application.css">
  </head>
  <body>
  <div class="header">
    <h1 class="header_text"> Makers BnB </h1>
  </div>
  <div class="layout">
  </div>
    <%=yield%>
    </body>
  <div class="footer">
    <p>@bestteam.com</p>
  </div>
  </html>
