<h2>Sign up to MakersBnB </h2>

<form action="/users" method="post">
  <p><input type="email" name="email" placeholder="Email"/></p>
  <p><input type="password" name="password" placeholder="Password"/></p>
  <p><input type="submit" value="Submit" /></p>
</form>